# -----------------------
# БАЙТ-КОМПИЛЯЦИЯ PYTHON
# -----------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------
# ВИРТУАЛЬНЫЕ ОКРУЖЕНИЯ
# -----------------------
.venv/
venv/
ENV/
.envrc

# -----------------------
# СБОРКИ/ДИСТРИБУТИВЫ
# -----------------------
build/
dist/
*.egg-info/
.eggs/
*.egg

# -----------------------
# ТЕСТЫ/ПОКРЫТИЕ/ТУЛЗЫ
# -----------------------
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.mypy_cache/
.pytype/
.ruff_cache/
.cache/
pytestdebug.log

# -----------------------
# JUPYTER
# -----------------------
.ipynb_checkpoints/
.profile_default/
# иногда полезно игнорить большие автогенерируемые notebook-выводы
# *.nbconvert.ipynb

# -----------------------
# КОНФИГИ/СЕКРЕТЫ (пример)
# -----------------------
.env
.env.*
!.env.example            # оставляем шаблон в репо
*.secret
secrets.json
# токены/ключи лучше хранить в .env и не коммитить

# -----------------------
# ЛОГИ/ДАННЫЕ
# -----------------------
*.log
logs/
tmp/
temp/
#data/
datasets/
*.csv
*.tsv
*.parquet
*.sqlite
*.db
# при необходимости оставь в репо маленькие тестовые данные через !data/sample.csv

# -----------------------
# IDE/ОС
# -----------------------
# VS Code
.vscode/
# PyCharm / IntelliJ
.idea/
*.iml
# ОС
.DS_Store
Thumbs.db

# -----------------------
# УПРАВЛЕНИЕ ЗАВИСИМОСТЯМИ
# -----------------------
# pip-tools артефакты можно хранить: requirements*.txt — обычно НЕ игнорим
# Poetry/Pipenv lock-файлы тоже НЕ игнорим:
#   poetry.lock
#   Pipfile.lock

#------------------------
# СЕРТЫ
#------------------------
*.cert

*.env
*.log
__pycache__
venv